.container {
  transition: 0.4s;
  max-width: 1050px;
  width: calc(100% - 50px);
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 50px;
  align-items: center;
}

.contestList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ContestItem_expanded {
  width: calc(100% + 30px);
  margin-top: 20px;
  margin-bottom: 20px;
}

.ContestItem {
  width: 100%;
}

.ContestItem_content {
  display: flex;
  position: relative;
  cursor: pointer;
}

.ContestItem_image {
  padding: 10px;
}

.ContestItem_info {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.ContestItem_title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.870588);
  line-height: 36px;
}

.ContestItemCollapsible {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s, opacity 0.4s;
}

.opened {
  height: auto;
  max-height: none;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 10px 0;
}

.ContestItem_date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541176);
  display: block;
  margin-left: auto;
  padding: 10px;
}

.ContestItem_city {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  display: block;
}

.ContestItemCollapsible_infoLink {
  display: block;
}

.ContestItemCollapsible_iconLink {
  margin-right: 5px;
}

a {
  color: #4078C0;
}
