.dancerProfileImage {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  float: left;
}

.dancerProfileImage img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.dancerProfileInfo {
  text-align: left;
  margin: 0 0 0 220px;
}
